[Unit]
Description=Odoo Open Source ERP and CRM
After=network.target

[Service]
Type=simple
User=odoo
Group=odoo
ExecStart=/opt/odoo/odoo-17.0/odoo-bin --config /etc/odoo.conf
KillMode=mixed

[Install]
WantedBy=multi-user.target

